body {
    margin: 0px;
}

.border {
    border: 1px solid black;
}

.main-container {
    height: 100vh;
    z-index: 20;
    position: relative;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family:cursive;
}

.flex-cen {
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 5px solid black;
    border-radius: 15px;
    width: 70vw;
    height: 40%;
    background-color: rgba(240, 244, 255, 0.616);

    z-index: 10;
}

.countdown {
    display: flex;
    align-items: center;
    margin: 0;
    height: 40%;
    font-size: calc(1rem + 3vw);
}
.countdown div {
    display: flex;
    width: auto;
}

.secNum {
    display: flex;
    justify-content: right;
    width: calc(1rem + 5vw);
}
.secUnit {
    display: flex;
    justify-content: right;
    width: calc(2rem + 7vw);
}
.minNum {
    display: flex;
    justify-content: right;
    width: calc(1rem + 5vw);
}
.minUnit {
    display: flex;
    justify-content: right;
    width: calc(2rem + 7vw);
}
.hourNum {
    display: flex;
    justify-content: right;
    width: calc(1rem + 5vw);
}
.hourUnit {
    display: flex;
    justify-content: right;
    width: calc(2rem + 9vw);
}
.dayUnit {
    display: flex;
    justify-content: right;
    width: calc(2rem + 7vw);
}
.dayNum {
    display: flex;
    justify-content: right;
    width: calc(1rem + 7vw);
}


.until {
    margin: 0px;
    font-size: calc(1rem + 1vw);
}

.holiday-txt {
    margin: 0px;
    font-size: calc(1rem + 2vw);
}

.holiday-background-img {
    width: 100%;
    z-index: 1;
    position: absolute;
}

.overflow {
    overflow: hidden;
    height: 100vh;
}

.imgBorder {
    width: 100%;
    height: 700px;
    z-index: 1;
    position: absolute;
}

.z-index-high {
    z-index: 100;
    position:absolute;
    right: 0px;
    margin: 10px;
}
