body {
    margin: 0px;
}

.border {
    border: 1px solid black;
}

.main-container {
    border: 1px solid green;
    background: lightblue;
    height: 100vh;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.countdown {
    margin: 0px;
    font-size: 3rem;
}

.until {
    margin: 0px;
    font-size: 2rem;
}

.holiday-txt {
    margin: 0px;
    font-size: 2.9rem;
}
